{% set link = 'https://'~item.repositoryOrganization.type~'.com/'~item.repositoryOrganization.name~'/'~item.repositoryName %}
<div class="card">
    <div class="card-body">
        <h5 class="card-title">{{ item.title }}
            <img src="https://img.shields.io/{{ item.repositoryOrganization.type }}/v/release/{{ item.repositoryOrganization.name }}/{{ item.repositoryName }}.svg?style=flat-square" alt="{{ title }}" />
            {% if item.packagePlatformId is not empty %}
                {% if item.packagePlatform == 'composer' %}
                    <img src="https://img.shields.io/packagist/dt/{{ item.packagePlatformId }}.svg?style=flat-square" alt="{{ title }}" />
                    <img src="https://img.shields.io/packagist/l/{{ item.packagePlatformId }}.svg?style=flat-square" alt="{{ title }}" />
                {% endif %}
                {% if item.packagePlatform == 'github' %}
                    <img src="https://img.shields.io/github/downloads/{{ item.repositoryOrganization.name }}/{{ item.repositoryName }}/total?style=flat-square" alt="{{ title }}" />
                    <img src="https://img.shields.io/github/license/{{ item.repositoryOrganization.name|lower }}/{{ item.repositoryName }}?style=flat-square" alt="{{ title }}" />
                {% endif %}
                {% if item.packagePlatform == 'npm' %}
                    <img src="https://img.shields.io/npm/dt/{{ item.packagePlatformId }}?style=flat-square" alt="{{ title }}" />
                    <img src="https://img.shields.io/npm/l/{{ item.packagePlatformId }}?style=flat-square" alt="{{ title }}" />
                    <img src="" alt="{{ title }}" />
                {% endif %}
            {% endif %}
        </h5>
        <h6 class="card-subtitle mb-2 text-muted">{{- item.baseline -}}</h6>
        <p class="card-text">{{- item.description -}}</p>
        <small class="float-right">
            <i class="fas fa-user-astronaut" title="My Role(s)"></i> {{ item.roles|join(', ') }}<br />
            {%- if item.sponsors is not empty -%}
                <i class="fas fa-hand-holding-usd" title="Current Sponsor(s)"></i> {{ item.sponsors|map(sponsor => "<a href='"~sponsor.url~"' target='_blank'>"~sponsor.name~"</a>")|join(', ')|raw }}
            {%- endif -%}
        </small>
        <small>
            <a href="{{ link }}" target="_blank" class="card-link" title="{{ item.title }}"><i class="fab fa-github"></i>&nbsp;Project</a>
            <a href="{{ item.urlDocumentation is not empty ? item.urlDocumentation : link }}" target="_blank" class="card-link" title="{{ item.title }} Documentation"><i class="fas fa-book"></i>&nbsp;Documentation</a>
            {%- if item.publications is not empty -%}
                {{ item.publications|map(publication => "<a href='"~publication.url~"' target='_blank' class='card-link' title='"~publication.name~"'><i class='fas fa-"~(publication.type=='video'?'video':'rss')~"'></i> "~publication.type|capitalize~"</a>")|join('')|raw }}
            {%- endif -%}
        </small>


    </div>
</div>
