---
import { Image } from "astro:assets";
import { me } from "../core/constants";
import { stacks } from "../core/stack";
import BaseLayout from "../layouts/base-layout.astro";

function shuffleArray<T>(array: T[]): T[] {
  for (let i = array.length - 1; i > 0; i--) {
    const j = Math.floor(Math.random() * (i + 1));
    [array[i], array[j]] = [array[j], array[i]];
  }
  return array;
}
---

<BaseLayout
  title="Building the future & learning from the past in tech"
  description=`Technology evolves, and so does ${me.firstName} ${me.lastName}'s stack. Explore the tools, frameworks, and architectures used in the past and the cutting-edge tech he relies on today. A journey of innovation, learning, and progress.`
>
  <section>
    <div class="std-page-container">
      <h1
        class="text-2xl font-medium text-balance tracking-tight text-neutral-900 dark:text-white sm:text-4xl"
      >
        Building the future and learning from the past
      </h1>
      <p class="mt-4 std-description">
        Technology evolves, and so does my stack. Over the years, I've worked
        with various tools, frameworks, and architectures to build scalable and
        efficient applications. This page highlights the <strong
          >stack I used before</strong
        > and the <strong>stack I use now</strong>, reflecting my continuous
        learning and adaptation to the best technologies available. Check back
        for updates as my stack evolves!
      </p>
      <section class="mt-6 lg:mt-12">
        {
          stacks.map((stack) => (
            <div class="flex flex-col sm:flex-row gap-8 items-start py-6 border-t dark:border-neutral-700">
              <h2 class="std-paragraph text-sm text-justify w-3/5">
                <>
                  <strong class="text-lg">{stack.title}</strong>
                  <br />
                </>
                {stack.description}
              </h2>
              <ul
                role="list"
                class="grid grid-cols-1 md:grid-cols-2 gap-6 dark:border-neutral-700 w-full"
              >
                {stack.technologies.map((technology) => (
                  <li class="flow-root">
                    <div class="flex items-center gap-x-4">
                      <Image
                        src={technology.icon}
                        alt={technology.name}
                        class="w-16"
                      />
                      <div class="text-sm leading-6">
                        <p class="font-semibold text-black dark:text-white">
                          {technology.name}
                        </p>
                        <p class="text-neutral-500 text-sm dark:text-neutral-400">
                          {technology.about}
                        </p>
                      </div>
                    </div>
                    <p class="text-neutral-500 mt-4 dark:text-neutral-400 text-xs text-justify">
                      {technology.description}
                    </p>
                  </li>
                ))}
              </ul>
            </div>
          ))
        }
      </section>
    </div>
  </section>
</BaseLayout>
