---
import { Image } from 'astro:assets';
import type { Talk } from '../../contracts/talk';

const { title, description, date, event, images, location, slides, video } = Astro.props as Talk;

const link = video || slides;
---

<div class="group">
    <div class="flex items-center gap-x-4">
        <a href={link} title={title} target="_blank">
            <Image
                src={images[0]}
                alt={title}
                loading={'lazy'}
                class="w-24 rounded-xl dark:border dark:border-neutral-700"
            />
        </a>
        <div class="text-sm leading-6">
            <p class="font-semibold text-black dark:text-white group-hover:text-main-400 duration-200 line-clamp-1">
                <a href={link} title={title} target="_blank">{title}</a>
            </p>
            <p class="text-neutral-500 text-sm dark:text-neutral-400">
                {
                    event?.url ? (
                        <>
                            <a href={event.url} target="_blank" class="hover:text-main-400">
                                {event.name}
                            </a>
                            <br />
                            <span class="text-neutral-400">{location}</span>
                        </>
                    ) : event ? (
                        <span>
                            {event.name}
                            <br />
                            <span class="text-neutral-400">{location}</span>
                        </span>
                    ) : (
                        <span class="text-neutral-400">{location}</span>
                    )
                }
            </p>
            <p class="text-neutral-500 text-xs dark:text-neutral-400">
                {date}
                {
                    slides && (
                        <a
                            href={slides}
                            target="_blank"
                            class="text-neutral-200 text-right hover:text-main-400 text-xs"
                        >
                            View slides
                        </a>
                    )
                }
            </p>
        </div>
    </div>
    <p class="text-neutral-500 mt-4 dark:text-neutral-400 line-clamp-3 text-justify">
        {description}
    </p>
</div>
